body{
    background-image: url("images/img_1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    margin-top: 15%;
    margin-right: 60%;
    margin-left: 5%;
}
#bt{
    margin: 25px;
}
#bt1{
    margin-left: 300px;
}
#bt2,#bt3,#bt4{
    margin-left: 55px;
}
#bt5{
    margin-left: 300px
;
}

